<div class="product">
    <div class="product-details">
      <img [src]="getImageUrl(product)" [alt]="product.imageName" />
      <div class="product-info">
        <div class="name">{{product.name}}</div>
        <div class="description">{{product.description}}</div>
        <div class="category">Part Type:{{product.category}} </div>
      </div>
    </div>
    <div class="price">
      <div 
      style="font-weight: bolder;"
      [ngStyle]="{'color':product.discount>0 ?'red':''}"
      class="bold" [ngClass]="getDiscountedClasses(product)">
        {{product.price|currency:'NGN'}}
      </div>
      <div *ngIf="product.discount>0" class="discount">
          <div>
              {{(product.price*(1-product.discount))|currency:'NGN'}}
          </div>
      </div>
      <button class="cta" (click)=" buyBittonClicked(product)">Buy</button>
    </div>
  </div>
